<p-table [value]="lancamentos" [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 30px;"></th>
            <th style="width: 60px;">Data</th>
            <th>Nome</th>
            <th>Forma de Pagamento</th>
            <th>Categoria</th>
            <th>Valor</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lancamento>
        <tr>
            <td><i class="pi pi-check" pTooltip="Realizado" *ngIf="lancamento.realizado" style="color: green"></i></td>
            <td>{{lancamento.dataInclusao | date:'dd/MM/yyyy'}}</td>
            <td>{{lancamento.nome}}</td>
            <td>{{lancamento.formaPagamento.nome}}</td>
            <td>{{lancamento.categoria.nome}}</td>
            <td>{{lancamento.valor | currency: 'BRL'}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="5">T O T A L</td>
            
            <td>{{total | currency: 'BRL'}}</td>
        </tr>
    </ng-template>
</p-table>