<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>

<p-card header="Novo Lançamento">
    <form novalidate (ngSubmit)="gravar()" [formGroup]="lancamentoForm" class="p-fluid" pFocusTrap>
        <div class="row">
            <div class="field col-2">
                <label for="valor">Valor R$ *</label>
                <p-inputNumber pAutoFocus [autofocus]="true" formControlName="valor"
                    [inputStyle]="{'text-align': 'right'}" inputId="valor" [min]="0" [maxFractionDigits]="2"
                    mode="decimal"></p-inputNumber>
            </div>
            <div class="field col-3">
                <label for="nome">Nome <span class="obrigatorio">*</span></label>
                <input type="text" id="nome" pInputText formControlName="nome" autofocus />
            </div>
            <div class="field col-7">
                <label for="nome">Descrição</label>
                <input type="text" id="nome" pInputText formControlName="descricao" autofocus />
            </div>
        </div>
        <!-- <div class="row">
            <div class="field col-3">
                <label for="nome">Nome <span class="obrigatorio">*</span></label>
                <input type="text" id="nome" pInputText formControlName="nome" autofocus />
            </div>
            <div class="field col-9">
                <label for="nome">Descrição</label>
                <input type="text" id="nome" pInputText formControlName="descricao" autofocus />
            </div>
        </div> -->
        <div class="row">
            <div class="field col-6">
                <label for="categoriaId">Categoria <span class="obrigatorio">*</span></label>
                <div>
                    <p-dropdown class="p-dropdown-item w-full" [options]="categorias" appendTo="body" id="categoriaId"
                        formControlName="categoriaId" placeholder="Selecione uma categoria" optionLabel="nome"
                        optionValue="id"></p-dropdown>
                </div>
            </div>
            <div class="field col-6">
                <label for="formaPagamentoId">Forma de Pagamento <span class="obrigatorio">*</span></label>
                <div style="display: flex;">
                    <div style="flex: 1; margin-right: 3px;">
                        <p-dropdown class="p-dropdown-item" [options]="formasPagamento" appendTo="body"
                            id="formaPagamentoId" formControlName="formaPagamentoId"
                            placeholder="Selecione uma categoria" optionLabel="nome" optionValue="id"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="field col-2">
                <label for="valor">Valor</label>
                <p-inputNumber formControlName="valor" inputId="valor" [min]="0" [maxFractionDigits]="2"
                    mode="decimal"></p-inputNumber>
            </div> -->
            <div class="field col-3">
                <label for="dataInclusao">Data</label>
                <p-calendar id="realizado" dateFormat="dd/mm/yy" [showIcon]="true"
                    formControlName="dataInclusao"></p-calendar>
            </div>
            <div class="field col-3">
                <label for="despesa">Despesa?</label>
                <p-dropdown [options]="['Sim', 'Não']" appendTo="body" id="despesa"
                    formControlName="despesa"></p-dropdown>
            </div>
            <div class="field col-3">
                <label for="realizado">Realizado?</label>
                <p-dropdown [options]="['Sim', 'Não']" appendTo="body" id="realizado"
                    formControlName="realizado"></p-dropdown>
            </div>
            <div class="field col-3">
                <label for="rateado">Rateado?</label>
                <p-dropdown [options]="['Sim', 'Não']" appendTo="body" id="rateado"
                    formControlName="rateado"></p-dropdown>
            </div>
        </div>
        <button pButton type="submit" label="Gravar" icon="pi pi-check" class="p-button-success botao-acao"></button>
        <button pButton type="button" label="Voltar" icon="pi pi-arrow-left" class="p-button-info botao-acao"
            [routerLink]="['/lancamentos']"></button>
    </form>
</p-card>