<div class="buttonAdd">
    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-success" [routerLink]="['/lancamentos/novo']"
        pTooltip="Atalho: Alt + n"></p-button>
</div>

<p-tabView [activeIndex]="mesAtual">
    <p-tabPanel header="Janeiro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(1)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Fevereiro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(2)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Março">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(3)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Abril">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(4)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Maio">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(5)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Junho">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(6)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Julho">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(7)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Agosto">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(8)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Setembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(9)!"></app-lista-mes>        
    </p-tabPanel>
    <p-tabPanel header="Outubro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(10)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Novembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(11)!"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Dezembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(12)!"></app-lista-mes>
    </p-tabPanel>

</p-tabView>

