<ngx-ui-loader></ngx-ui-loader>
<p-toast position="top-center"></p-toast>

<div class="buttonAdd">
    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-success" [routerLink]="['/lancamentos/novo']"
        pTooltip="Atalho: Alt + n"></p-button>
</div>

<div class="barra-lancamentos">
    <div class="meses">
        <span class="ativo">Janeiro</span>
        <span>Fevereiro</span>
        <span>Março</span>
        <span>Abril</span>
        <span>Maio</span>
        <span>Junho</span>
        <span>Julho</span>
        <span>Agosto</span>
        <span>Setembro</span>
        <span>Outubro</span>
        <span>Novembro</span>
        <span>Dezembro</span>
        
    </div>
    <div class="ano">
        <i class="pi pi-chevron-left" style="font-size: 1.5rem" (click)="anoAnterior()"></i>
        {{ano()}}
        <i class="pi pi-chevron-right" style="font-size: 1.5rem" (click)="proximoAno()"></i>
    </div>
</div>
<div>
    <app-lista-mes [lancamentos]="lancamentosMes()" (onDelete)="excluir($event)"></app-lista-mes>
</div>


<!-- <div class="controle-ano">
    <p-button icon="pi pi-minus" styleClass="p-button-rounded" (onClick)="anoAnterior()"></p-button>
    <p>{{ano()}}</p>
    <p-button icon="pi pi-plus" styleClass="p-button-rounded" (onClick)="proximoAno()"></p-button>
</div>
<p-tabView [activeIndex]="mesAtual">
    <p-tabPanel header="Janeiro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(1)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Fevereiro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(2)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Março">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(3)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Abril">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(4)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Maio">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(5)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Junho">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(6)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Julho">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(7)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Agosto">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(8)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Setembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(9)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Outubro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(10)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Novembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(11)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Dezembro">
        <app-lista-mes [lancamentos]="lancamentosAgrupados.get(12)!" (onDelete)="excluir($event)"></app-lista-mes>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <i class="pi pi-search"></i>
            <span>Header III</span>
            <i class="pi pi-cog"></i>
        </ng-template>
    </p-tabPanel>
</p-tabView> -->

<p-dialog [(visible)]="modalExclusao" header="Atenção!" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem; margin-right: 10px;"></i>
        @if (lancamento) {
        <span>Confirma a exclusão do lançamento<b> {{ lancamento.nome }}</b>?</span>
        }
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
            (click)="modalExclusao = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
            (click)="confirmarExclusao()"></button>
    </ng-template>
</p-dialog>