.buttonAdd {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;

    button {
        height: 4rem !important;
        width: 4rem !important;
    }
}

.controle-ano {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    p {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bolder;
        font-size: 1.2rem;
    }
}

