<ngx-ui-loader></ngx-ui-loader>
<p-toast position="top-center"></p-toast>

<div class="buttonAdd">
    <p-button icon="pi pi-plus" styleClass="p-button-rounded p-button-success" [routerLink]="['/lancamentos/novo']"
        pTooltip="Atalho: Alt + n"></p-button>
</div>

<div class="barra-lancamentos">
    <div class="meses">
        <span [ngClass]="janeiro() ? 'ativo' : ''" (click)="setMes(1)">Janeiro</span>
        <span [ngClass]="fevereiro() ? 'ativo' : ''" (click)="setMes(2)">Fevereiro</span>
        <span [ngClass]="marco() ? 'ativo' : ''" (click)="setMes(3)">Março</span>
        <span [ngClass]="abril() ? 'ativo' : ''" (click)="setMes(4)">Abril</span>
        <span [ngClass]="maio() ? 'ativo' : ''" (click)="setMes(5)">Maio</span>
        <span [ngClass]="junho() ? 'ativo' : ''" (click)="setMes(6)">Junho</span>
        <span [ngClass]="julho() ? 'ativo' : ''" (click)="setMes(7)">Julho</span>
        <span [ngClass]="agosto() ? 'ativo' : ''" (click)="setMes(8)">Agosto</span>
        <span [ngClass]="setembro() ? 'ativo' : ''" (click)="setMes(9)">Setembro</span>
        <span [ngClass]="outubro() ? 'ativo' : ''" (click)="setMes(10)">Outubro</span>
        <span [ngClass]="novembro() ? 'ativo' : ''" (click)="setMes(11)">Novembro</span>
        <span [ngClass]="dezembro() ? 'ativo' : ''" (click)="setMes(12)">Dezembro</span>
    </div>
    <div class="ano">
        <i class="pi pi-chevron-left" style="font-size: 1.5rem" (click)="anoAnterior()"></i>
        {{ ano() }}
        <i class="pi pi-chevron-right" style="font-size: 1.5rem" (click)="proximoAno()"></i>
    </div>
</div>
<div>
    <app-lista-mes [lancamentos]="lancamentos()" (onDelete)="excluir($event)"></app-lista-mes>
</div>

<p-dialog [(visible)]="modalExclusao" header="Atenção!" [modal]="true" [style]="{ width: '450px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem; margin-right: 10px;"></i>
        @if (lancamento) {
            <span>Confirma a exclusão do lançamento<b> {{ lancamento.nome }}</b>?</span>
        }
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não"
            (click)="modalExclusao = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"
            (click)="confirmarExclusao()"></button>
    </ng-template>
</p-dialog>